*{
    font-family: helvetica;
}
body{
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
    font-weight: lighter;
}
p{
    color: white;
}